<ion-view title="Not Kazanı" id="page2">
  <ion-content padding="true" class="has-header">
    <h1 id="notKazan2-heading3" style="color:#000000;">Kayıt ol</h1>
    <h3 id="notKazan2-heading4" style="color:#000000;">Ad- Soyad:</h3>
    <form id="notKazan2-form1" class="list">
      <label class="item item-input" id="notKazan2-input1">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h3 id="notKazan2-heading9" style="color:#000000;">Üniversite:</h3>
    <form id="notKazan2-form2" class="list">
      <label class="item item-input" id="notKazan2-input2">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h3 id="notKazan2-heading12" style="color:#000000;">Bölüm:</h3>
    <form id="notKazan2-form5" class="list">
      <label class="item item-input" id="notKazan2-input5">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h3 id="notKazan2-heading10" style="color:#000000;">E-Mail:</h3>
    <form id="notKazan2-form3" class="list">
      <label class="item item-input" id="notKazan2-input3">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <h3 id="notKazan2-heading11" style="color:#000000;">Şifre:</h3>
    <form id="notKazan2-form4" class="list">
      <label class="item item-input" id="notKazan2-input4">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <button id="notKazan2-button4" style="font-size:30px;" class="button button-positive button-block">Kayıt Ol</button>
    </form>
  </ion-content>
</ion-view>