<ion-view title="Not Kazanı" id="page3">
  <ion-content padding="true" class="has-header">
    <h3 id="notKazan3-heading13" style="color:#000000;">GİRİŞ YAP:</h3>
    <ion-list id="notKazan3-list1">
      <ion-item class="item-icon-left positive" id="notKazan3-list-item5">
        <i class="icon ion-email"></i>E-MAİL</ion-item>
      <ion-item class="item-icon-left positive" id="notKazan3-list-item6">
        <i class="icon ion-alert"></i>ŞİFRE</ion-item>
      <ion-item class="item-icon-left dark" id="notKazan3-list-item7">
        <i class="icon ion-ios-checkmark"></i>Beni Hatırla</ion-item>
    </ion-list>
    <button id="notKazan3-button6" style="font-size:30px;" class="button button-positive button-block">GİRİŞ YAP</button>
  </ion-content>
</ion-view>